<h2 style="text-align:center;">Patient registered successfully</h2>

<div style="text-align:center; margin-top:20px;">
  <%= link_to "Logout", logout_path, method: :delete,
      data: { turbo_method: :delete },
      style:"background:red; color:white; padding:8px 15px; border:none; border-radius:5px; text-decoration:none;" %>
</div>


